{% extends 'shop/base.html' %}
{% load static %}
{% block title %}
    Доставка
{% endblock %}
{% block content %}

    <div class="container delivery">
        <div class="row">
            <div class="col-lg-12 paragraph">
                <h1>Про доставку</h1>
            </div>
            <hr>
            <div class="col-md-3 col-xs-6 delivery">
                <img src="{% static 'img/delivery/delivery1.jpg' %}" class="delivery-picture">
                <div>
                    <p><i class="fa fa-keyboard-o fa-lg thumb"></i>
                        Ви залишаєте заявку на сайті</p>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 delivery">
                <img src="{% static 'img/delivery/delivery2.jpg' %}" class="delivery-picture">
                <div>
                    <p><i class="fa fa-phone fa-lg thumb"></i>
                        Менеджер звязується з вами для підтвердження замовлення</p>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 delivery">
                <img src="{% static 'img/delivery/delivery3.jpg' %}" class="delivery-picture">
                <div>
                    <p><i class="fa fa-truck fa-lg thumb"></i>
                        Ми швидко відправляємо Вам замовлення Новою Поштою</p>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 delivery">
                <img src="{% static 'img/delivery/delivery4.jpg' %}" class="delivery-picture">
                <div>
                    <p><i class="fa fa-thumbs-o-up fa-lg thumb"></i>
                        Ви отимуєте свій товар і оплачуєте його на пошті</p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container delivery2">
        <div class="row">
            <div class="col-xs-6 col-lg-6">
                <h1><i>Доставка та оплата:</i></h1>
                <hr>
                <h2>•Доставка за допомогою "Нової пошти"</h2>
                Ви можете забрати замовлення в будь-якому відділенні "Нової пошти" в вашому населеному пункті. Для
                отримання вам
                потрібно буде пред’явити документ, який посвідчує особу.
                <hr>
                <h2>•Доставка за допомогою "Укрпошти"</h2>
                Якщо в вашому населеному пункті немає відділень "Нової пошти", ми можемо передати замовлення
                "Укрпоштою". В такому
                разі термін доставки буде дещо довшим
                <hr>
                <h2>•Самовивіз</h2>
                Ви можете забрати замовлення в нашому офісі в м. Львів за адресою: вул. Чорновола, 67, оф. 342, перед
                приходом
                обов’язково повідомивши менеджера, відповідального за замовлення.
            </div>
            <div class="col-xs-6 col-lg-6">
                <h1><i>Види оплати:</i></h1>
                <hr>
                <h2>•Накладним платежем на "Новій пошті"</h2>
                Ви можете оплатити замовлення накладним платежем у відділенні "Нової пошти", крім вартості замовлення і
                доставки,
                вам потрібно буде оплатити 2% від суми замовлення за переказ коштів за накладним платежем.
                <hr>
                <h2>•Передоплата на розрахунковий рахунок</h2>
                При здійсненні передоплати вам не потрібно буде оплачувати додаткові кошти за доставку грошей, як при
                накладному
                платежу. Реквізити для передоплати будуть надані вам менеджером, який відповідає за замовлення
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12">
        <img src="{% static 'img/delivery/np.png' %}" class="novaposhta">
    </div>
{% endblock %}

