{% load static %}

<footer id="myFooter">
    <div class="container">
        <ul>
            <li><a href="#">Кнопка</a></li>
            <li><a href="#">Кнопка</a></li>
            <li><a href="#">Кнопка</a></li>
            <li><a href="#">Кнопка</a></li>
        </ul>
        <p class="footer-copyright">© {% now "Y" %} Copyright Text</p>
    </div>
    <div class="footer-social">
        <a href="#" class="social-icons"><i class="fa fa-facebook"></i></a>
        <a href="#" class="social-icons"><i class="fa fa-instagram"></i></a>
        <a href="#" class="social-icons"><i class="fa fa-twitter"></i></a>
    </div>
</footer>