{% load static %}

<header>
    <div class="top_bar">
        <div class="container">
            <div class="col-md-6">
                <ul class="social">
                    <li><a target="_blank" href="#"><i class="fa fa-facebook text-white"></i></a>
                    </li>
                    <li><a target="_blank" href="#"><i class="fa fa-instagram text-white"></i></a>
                    </li>
                    <li><a target="_blank" href="#"><i class="fa fa-twitter text-white"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="rightc">
                    <li><i class="fa fa-phone"></i> +38-066-888-88-88</li>
                    <li><i class="fa fa-cart-plus"></i>
                        {% with total_items=cart|length %}
                            {% if cart|length > 0 %}
                                Ваш кошик:
                                <a href="{% url "cart:CartDetail" %}">
                                    {{ total_items }} тов. {{ cart.get_total_price }} грн.
                                </a>
                            {% else %}
                                Кошик пустий
                            {% endif %}
                        {% endwith %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'shop:ProductList' %}"><img
                        src="{% static 'img/general/logo.jpg' %}" class="logo-img"></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'shop:ProductList' %}">Головна</a></li>
                    <li><a href="{% url 'shop:deliver' %}">Доставка</a></li>
                    <li><a href="{% url 'shop:contacts' %}">Контакти</a></li>
                </ul>
            </div>
        </div>
    </nav>

</header>

