body {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;

}

.top {
    padding: 20px 0;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
}

.top-bl {
    background: #bebebe;
    padding: 15px;
}

.top-bl .cart {
    float: right;
}



#sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    border: 1px solid #ff5f5f;
    border-radius: 5px;
}

#sidebar ul li {
    padding: 5px 10px;
}

#sidebar ul li.selected {
    background: #ff5f5f;
    color: white;
    border-radius: 3px;
}

#sidebar ul li.selected a {
    color: white;
}

.items {
    margin-top: 20px;
}

.product-detail {
    margin-top: 40px;
}

.product-detail h2 {
    font-size: 18px;
}

form.add {
    margin-bottom: 10px;
}

form.add label {
    margin-right: 10px;
}

#id_quantity {
    padding: 5px 10px;
    border-radius: 3px;
}

form.add input[type="submit"] {
    background: #2a6496;
    border-radius: 3px;
    border: 0;
    padding: 5px 10px;
    color: white;
}

.table-cart {
    width: 100%;
    margin: 10px 0;
}

.cart-img {
    width: 10%;
}

th, td {
    padding: 5px;
}

thead {
    background: #2a6496;
    color: white;
}

.btn {
    background: #2a6496;
    color: white;
}

.btn-light {
    background: #808080;
}

.order-info h2 {
    margin-bottom: 20px;
}

.order-form {
    margin-top: 20px;
    margin-bottom: 20px;
}

.order-form label {
    display: block;
}

.order-form input {
    width: 100%;
    padding: 5px 10px;
}

/*---NAVBAR---*/

.top_bar {
    min-height: 40px;
    /*
   background: #30bed6; /* Old browsers */
    background: -moz-linear-gradient(left, #000000 0%, #ff5f5f 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #000000 0%, #ff5f5f 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #000000 0%, #ff5f5f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#ff5f5f', GradientType=1); /* IE6-9 */
}

.logo-img {
    border-radius: 10px;
}

.social {
    list-style-type: none;
    margin-bottom: 0px;
    float: left;
    padding: 0px;
    margin-left: 0px;
}

.social li {
    float: left;
}

.social li a {
    padding: 0 10px;
    font-size: 13px;
    line-height: 40px;
    color: #FFF;
}

.rightc {
    list-style-type: none;
    margin-bottom: 0px;
    float: right;
}

.rightc li {
    margin: 0px 10px;
    font-size: 13px;
    float: left;
    line-height: 40px;
    color: #FFF;
}

.rightc li a {
    color: #FFF;
}

.navbar-brand img {
    margin-top: 0px;
    margin-left: 0px;
}

.navbar-brand {
    padding: 0px;
}

.header_image {
    margin-top: -70px;
    float: left;
}

.nav.navbar-nav.navbar-right span {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-weight: 300;
    color: #1b6977;
}

.navbar-right li a {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #1b6977 !important;
}

/*---END_NAVBAR---*/

/*---FOOTER---*/

#myFooter {
    padding-top: 32px;
}

#myFooter .container {
    text-align: center;
}

#myFooter .footer-copyright {
    margin-bottom: 35px;
    text-align: center;
    color: #777;
}

#myFooter ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 18px;
}

#myFooter a {
    color: #282b2d;
    font-size: 18px;
}

#myFooter li {
    display: inline-block;
    margin: 0px 15px;
    line-height: 2;
}

#myFooter .footer-social {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #eee;
}

#myFooter .fa {
    font-size: 36px;
    margin-right: 15px;
    margin-left: 20px;
    background-color: white;
    color: #d0d0d0;
    border-radius: 51%;
    padding: 10px;
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 43px;
    text-decoration: none;
    transition: color 0.2s;
}

#myFooter .fa-facebook:hover {
    color: #2b55ff;
}

#myFooter .fa-facebook:focus {
    color: #2b55ff;
}

#myFooter .fa-google-plus:hover {
    color: red;
}

#myFooter .fa-google-plus:focus {
    color: red;
}

#myFooter .fa-twitter:hover {
    color: #00aced;

}

#myFooter .fa-twitter:focus {
    color: #00aced;
}

/*---END_FOOTER---*/

/* Product Grid */
.product-grid{
	padding-bottom: 20px;
	padding-top: 20px;
}
.product-grid:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.prod-image{
    text-align: center;
	position: relative;
}
.prod-img {
    border-radius: 30px;
    border: 1px solid #ff5f5f;
}
.overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: rgba(67, 68, 68, 0.7);
    border-radius: 30px;
}
.prod-image:hover .overlay{
	opacity: 1;
}
.detail{
	color: #fff;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.buy{
	background-color: transparent;
	color: #434444;
	border-radius: 0;
	border: 1px solid #434444;
	width: 100%;
	margin-top: 20px;
}
.buy:hover{
	background-color: #434444;
	color: #fff;
}

.price {
    font-weight: 600;
    font-size: 20px;
}
